@import '@/assets/scss/bourbon/app/assets/stylesheets/bourbon';
@import '@/assets/scss/_mixin.scss';

.p-toast {
  @include media-down(xs) {
    left: 20px !important;
    width: calc(100% - 40px);
  }
}

.p-toast-message {
  margin-bottom: rem(16);
  max-width: 100vw;
  &-content {
    padding: rem(10);
    border-width: 1px;

    svg {
      width: rem(16);
      height: rem(16);
      margin-top: rem(3);
    }
  }
  &-text {
    margin-left: rem(7);
    span {
      font-size: rem(14);
      font-weight: 600;
    }
    div {
      color: #334155;
      font-size: rem(12);
      margin-top: rem(2);
    }
  }
  &.p-toast-message-error {
    background: rgba(254, 242, 242, 0.95);
    border: solid #fecaca;
    border-width: 1px;
    color: #dc2626;
  }
  &.p-toast-message-success {
    background: rgba(240, 253, 244, 0.95);
    border: solid #bbf7d0;
    border-width: 1px;
    color: #16a34a;
  }
}
