.sUserProfileView {
  padding-top: 16px;
  padding-bottom: 16px;
  h1 {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-weight: 600;
    color: var(--color-heading);
    // display: inline-block;
    padding-right: 22px;
    button {
      background-color: transparent;
      border: none;
      color: var(--color-heading);
      font-size: 20px;
      font-weight: 600;
      padding: 0;
      margin: 0 0 0 12px;
      &:hover {
        color: var(--primary-color);
      }
    }
    svg {
      height: 1em;
      width: 1em;
      font-size: 22px;
    }
  }
  h3 {
    margin-bottom: 18px;
    color: var(--color-heading);
  }
  h4 {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .row {
    --gutter-y: 24px;
  }
  &__row {
    flex-direction: column;
  }
  &__addresses {
    flex-wrap: wrap;
  }
  &__address-wrap {
    position: relative;
    min-width: calc(100% - var(--gutter-x));
    border: 1px solid var(--color-border);
    border-radius: 8px;
    padding: 6px 12px;
    @media (min-width: 576px) {
      max-width: calc(100% / 2 - var(--gutter-x));
      min-width: calc(100% / 2 - var(--gutter-x));
    }
    @media (min-width: 768px) {
      max-width: calc(100% / 3 - var(--gutter-x));
      min-width: calc(100% / 3 - var(--gutter-x));
    }
    @media (min-width: 1200px) {
      max-width: calc(100% / 4 - var(--gutter-x));
      min-width: calc(100% / 4 - var(--gutter-x));
    }
    .edit-address {
      position: absolute;
      background-color: transparent;
      border: none;
      color: var(--color-heading);
      font-size: 20px;
      font-weight: 600;
      padding: 0;
      margin: 0 0 0 12px;
      bottom: 10px;
      right: 10px;
      &:hover {
        color: var(--primary-color);
      }
    }
    .delete-address {
      position: absolute;
      background-color: transparent;
      border: none;
      color: var(--color-heading);
      font-size: 20px;
      font-weight: 600;
      padding: 0;
      margin: 0 0 0 12px;
      bottom: 40px;
      right: 10px;
      &:hover {
        color: var(--additional-red);
      }
    }
    .set-default {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: transparent;
      border: none;
      color: var(--color-heading);
      font-weight: 600;
      padding: 0;
      &:hover {
        color: var(--primary-color);
      }
      svg {
        font-size: 16px;
      }
    }
    svg {
      height: 1em;
      width: 1em;
      font-size: 22px;
    }
  }
  .p-badge {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  &__wrap {
    font-size: 18px;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    span {
      font-size: 16px;
      color: var(--color-heading);
      display: block;
    }
  }
  .add-address {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease-in 0.36s;
    svg {
      height: 1em;
      width: 1em;
      font-size: 22px;
    }
    &:hover {
      color: var(--primary-color);
      border-color: var(--primary-color);
    }
  }
}

.p-dropdown {
  background: var(--color-background);
  border: 1px solid var(--color-border);
  .p-dropdown-trigger {
    color: var(--color-text);
  }
}
.p-dropdown-panel {
  background: var(--color-background);
  color: var(--color-border);
  .p-dropdown-items .p-dropdown-item {
    color: var(--color-text);
  }
  .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus {
    color: var(--color-text);
    background: var(--color-background-mute);
  }
  .p-dropdown-items .p-dropdown-item.p-highlight {
    color: var(--color-text);
    background: var(--color-background-mute);
  }
}
